#login-page {
  background-color: #8f0;
}

#open-account-page {
  background-color: #f80;
  display: none;
}

#account-page {
  background-color: #08f;
  display: none;
}

 #logout {
   float: right;
 }
