#parent-box {
  display: flex;
}

#show-contact {
  border: 1px dotted #8f0;
  flex-grow: 1;
  display: none;
}

#contacts {
  border: 1px dotted #80f;
  flex-grow: 1;
}

li {
 border: 1px dotted #f80;
}
